
/* With css, '#idname' = change anything with that id name, '.catagory' where catagory is body or container = change where that catagory is used.*/
/* This 'cat' is the populated todolist container, :) Just named it off the top of my head and I apologize.*/
#cat
{

    border:2px solid #ccc;
    width: 800px;
    height: 250px;
    overflow-y: scroll;
}

#centeredContainer
{
    width: 800px;
    margin: auto;
}

body
{
    background-color: #31b0d5;
}


