<?xml version="1.0" encoding="UTF-8"?>

<application>
    <!-- Insert Your Sites Url Here. -->
    <url>http://todo_app.dev/</url>
    <!-- Name the desired theme to use here.-->
    <current_theme>one_page_theme</current_theme>

    <!--Database Info Goes Here. -->
    <database>
        <host>localhost</host>
        <user>root</user>
        <pass>root</pass>
        <dbname>test</dbname>
    </database>

    <!-- List the modules here in this order ->  *code_pool_type*/*module*/*modules_name*/*modules_code_pool_name* -->
    <registered_modules>
        <code_pool>
            <local>
                <task>
                    <namespace>task</namespace>
                    <file_path>local</file_path>
                </task>
            </local>

            <community>
            </community>

            <core>
                <core>
                    <namespace>core</namespace>
                    <file_path>core</file_path>
                </core>
            </core>
        </code_pool>
    </registered_modules>


    <registered_themes>
        <one_page_theme>
            <folderList>
                <name>add</name>
                <name>assets</name>
                <name>delete</name>
                <name>panels</name>
                <name>index</name>
            </folderList>
        </one_page_theme>
        <task_theme>
            <folderList>
                <name>add</name>
                <name>delete</name>
                <name>index</name>
            </folderList>
        </task_theme>
        <core_theme>
            <folderList>
                <name>css</name>
                <name>index</name>
                <name>page</name>
            </folderList>
        </core_theme>
        <four_oh_four_theme>
            <folderList>
                <name>four_oh_four</name>
            </folderList>
        </four_oh_four_theme>
    </registered_themes>
</application>