<?xml version="1.0" encoding="UTF-8"?>
<application>
    <url>http://tasks.dev/</url>
    <current_theme>task_theme</current_theme>
    <database>
        <host>localhost</host>
        <user></user>
        <pass></pass>
        <dbname>MySQL</dbname>
    </database>
    <registered_modules>
        <task>
            <namespace>app</namespace>
            <file_path>task</file_path>
        </task>
        <core>
            <namespace>lib</namespace>
            <file_path>core</file_path>
        </core>
    </registered_modules>
    <registered_themes>
        <task_theme>
            <folderList>
               <name>add</name>
               <name>delete</name>
               <name>index</name>
            </folderList>
        </task_theme>
        <core_theme>
            <folderList>
                <name>css</name>
                <name>index</name>
                <name>page</name>
            </folderList>
        </core_theme>
        <four_oh_four_theme>
            <folderList>
                <name>four_oh_four</name>
            </folderList>
        </four_oh_four_theme>
    </registered_themes>
</application>