<?xml version="1.0" encoding="UTF-8"?>
<application>
    <registered_modules>
        <core>
            <file_path>core</file_path>
            <namespace>lib</namespace>
        </core>
        <task>
            <file_path>task</file_path>
            <namespace>app</namespace>
        </task>
    </registered_modules>
</application>